p Cześć #{@resource.username}!

p Ktoś z twojego konta poprosił o zmiane hasła, możesz to zrobić przez poniższy link:

a href="#{root_url + '#/edit_password/' + @token}" Zmień moje hasło

p Jeśli nie zamierzasz zmieniać hasła, zignoruj tą wiadomość.
| Twoje hasło się nie zmieni dopóki nie wejdziesz na powyższy link i nie podasz nowego.

p Pozdrawiamy,
a href="#{root_url}" JedzmyRazem